body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 18px;
    width: 100%;
}

.text {
    text-align: center;
    flex-grow: 1; 
    z-index: 1; 
}

.arrow {
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    padding: 0 15px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    z-index: 2; 
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}
.logo img {
    max-height: 50px; 
}
.middle-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    background-color: white;
}

.logo img {
    max-height: 50px; 
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.search-bar input[type="text"] {
    padding: 5px;
    width: 80%; 
    border: 1px solid #ddd;
    border-radius: 3px;
}

.icons {
    display: flex;
    gap: 10px; 
}

.icons img {
    max-height: 30px; 
}
.logo {
    order: 1; 
}


.nav-menu {
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center; 
}

.nav-menu ul li {
    margin: 0 20px; 
}

.nav-menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 15px 0;
    display: block;
}

.nav-menu ul li a:hover {
    color: gray;
}

.large-image-container {
    width: 100%;
    margin: 20px 0; 
}

.large-banner {
    width: 100%;
    display: block;
    height: auto; 
}
